* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.coba {
  position: relative;
  left: -100px;
}

.geser:hover .coba {
  position: relative;
  right: 300px;
}
